div.parent{
    position: relative;
    border: 1px solid red;
    width: 100px;
    height: 60rem;

}
div.child{
    position: absolute;
    border: 1px solid green;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 50px;
}

div.parent2{
    position: fixed;
    top: 5px;
    border: 1px solid red;
    width: 100vw;
    height: 10rem;

}

